<!-- Menu -->
<nav id="menu">
  <h2>Menu</h2>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/elements">Elements</a></li>
    <li><a href="/generic">Generic</a></li>
    <li><a href="/error">Error</a></li>
  </ul>
</nav>
<!-- end -->
