<%- include('pageSections/_header') %> 

 <div id="main">
						<div class="inner">
							<header>
								<h1>4 0 4</1>
                  <h2><%= message %></h2>
                  <h3>Return to <a href="/">front page</a></h3>
              </header></div></div>

<%- include('pageSections/_footer') %> 
