<%- include('partials/_head') %>
<%- include('partials/_header') %>
<%- include('partials/_navigation') %>
<!-- main -->
<div id="main">
    <div class="inner">
        <header>
            <h1>4 0 4</1>
                <h3>Return to <a href="/">front page</a></h3>
            </header></div></div>
<%- include('partials/_footer') %> 
